<header class="row fullwidth">
	<div class="col_3 logo">
		<%= image_tag "logo.png" %>
	</div>
	<nav class="col_9 last">
		<div class="switchContainer">
			<div class="stateFeed">FEED</div>
			<div class="switch">|||</div>
			<div class="stateData">DATA</div>
		</div>
	</nav>
</header>