<li>
	<span class="content">
		<%= link_to event.description, edit_baby_event_path(@baby, event)  %>
	</span>
	<span class="timestamp">
		Happened at <%= event.happened_at %>, <%= time_ago_in_words(event.happened_at) %> ago.
	</span>
	This event is of type: <%= event.event_type %>
</li>