<% @days.each do |day, data| %>
  <div class="row">
    New Day
    <div class="span12">
      <%= render partial: 'events/event', collection: data['events'], as: :event %>
      <%= render partial: 'measurements/measurement', collection: data['measurements'], as: :measurement %>
    </div>
  </div>
<% end %>