<% @events.each_with_index do |day, index| %>
  <div class="row day">
    <div class="col_6 nogutter notes">
      <% if index == 0 %>
        <div class="col_3 note addNote">
          <h4 class="bold white">+ ADD A NOTE</h4>
        </div>
      <% end %>
      <% day[1].each do |event| %>
        <div class="col_5 note media milestone" <% if event.image.present? %>style="background-image: url('<%= event.image.url %>');"<% end %>>
          <div class="textcenter mediaData">
            <span class="milestoneDate"><%= event.happened_at.to_s(:milestone) %></span>
            <h1 class="milestoneTitle huge white script">
              <%= event.title %>
            </h1>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col_6 last data" data-state="10">
      <div class="col_1">&nbsp;</div>
      <div class="col_4">
        <h2>Keep it up!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo error sed quas facilis impedit. Inventore, eum, quo esse eaque reiciendis iure iusto asperiores delectus reprehenderit harum culpa est nesciunt. Magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, quam, eius dolores error fuga rem mollitia quis consequuntur ipsum labore illum temporibus at laborum perferendis ratione facere cum asperiores quae!</p>
      </div>
      <div class="col_4">
        <h2>&nbsp;</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, debitis nobis voluptates eius sunt quod? Rerum, quibusdam, id recusandae est saepe velit eos vel fuga nobis tempore beatae sint ipsum.</p>
      </div>
    </div>
  </div>
<% end %>