<% if user_signed_in? %>
  <div class="row">
    <div class="span12">
      <div class="well">
        <% if current_user.babies.empty? %>
          <h1>You need to make some babies</h1>
          <%= link_to "Make Baby", new_baby_path, class: "btn btn-primary btn-block" %>
        <% else %>
          <h1>Placeholder</h1>
          <h2>More babies?</h2>
          <%= link_to "Make Baby", new_baby_path, class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span12">
      <div class="well">
        Welcome to BabyNotes!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <div class="well">
        The premier baby tracking web-app.
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-block" %>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>