<% provide(:title, "Your Babies") %>
<h2>Your Babies</h2>

<div class="row">
  <% if @babies.nil? %>
    <div class="span12">
      <p>You have no babies!</p>
    </div>
  <% else %>
    <%= render @babies %>
  <% end %>
</div>