<tr>
  <td>
    <%= link_to l(measurement.happened_at), edit_baby_measurement_path(@baby, measurement) %>
  </td>
  <td>
    <%= measurement.height %>
  </td>
  <td>
    <%= measurement.weight %>
  </td>
</tr>