<tr>
  <td>
    <%= link_to l(measurement.created_at), edit_baby_measurement_path(measurement) %>
  </td>
  <td>
    <%= measurement.height %>
  </td>
  <td>
    <%= measurement.weight %>
  </td>
</tr>